{% extends "myindex.html" %}
{% block content %}
	
	<!-- {% set total_results = news['totalResults'] %} -->
	{% for j in news %}
		{% if j == 'articles' %}
			{% set articles_list = news['articles'] %}
			{% for i in range(articles_list|count) %}
				{% set link = articles_list[i]['url'] %}
				<article class="media content-section">
					<div class="media-body">
						<a id="url" href = "{{ link }}" onclick="save_click('{{ link }}')">
							<h2 class="article-title"> {{ articles_list[i]['title'] }}</h2>
						</a>
						<a href = "{{ link }}" onclick="save_click('{{ link }}')">
							<img class="img-fluid" src="{{ articles_list[i]['urlToImage'] }}" alt = "Image Not Found" > 
							
						</a>
						<p class="article-content"> {{articles_list[i]['description']}} </p>
					</div>	
				</article>
				<div class="line"></div>
			{% endfor %}
		{% endif %}
	{% endfor%}
	<script type="text/javascript">
		function save_click(link){
			var xhttp = new XMLHttpRequest();
			// xhttp.onreadystatechange = function() {
			// 	if (this.readyState == 4 && this.status == 200) {
			// 		document.getElementById("link").innerHTML = this.responseText;
			// 	}
			// };

			xhttp.open("POST", "{{ url_for('test_var_access') }}", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("link=" + link );
		}
	</script>
	
{% endblock content %}